*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d0c5c5;
}

.main{
    background-color: #403B3B;
    padding-right: 15px;
    padding-left: 15px;
    height: 80px;
    box-shadow: 4px 3px 10px 1px rgb(0, 0, 0) ;
     position: sticky;
    margin: 0;
    padding: 0; 
    
}
.bar{
    
    height: 80px;
}
.portfolio{ 
     
    color: white;
    font-size: 40px;   
     font-weight: 900;
     padding: 10px;
     margin: 7px;
     text-shadow: 5px 4px 4px black;
     
}
.left{
    display: flex;
    
    
    
}
.navdiv{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    bottom: 55px;
    
    
    
}
li{
    
    display: inline;
    
    text-shadow: 3px 1px 2px black;
    
    
}
li a{
    text-decoration: none;
    color: #FFFF;
    /* padding-right: 50px; */
    padding: 8px;
    margin: 30px;
    
    
}
.navdiv a:hover{
    
    /* background-color: #C6BABA; */
    border-radius: 10px;
    color: #5c42ee;
    text-shadow: none;
    text-decoration: underline;
}


.icon{
    font-size: 30px;
}
ul{
    display: flex;
    justify-content: right;
}
.hi{
  font-size: 40px;
  margin-top: 170px;
  margin-left: 50px;
  -webkit-text-stroke:1px white;
  font-family: 'Inter', sans-serif;
  word-wrap: break-word;
}
.am{
    font-size: 96px;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    -webkit-text-stroke:1px white;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    position: relative;
    top: -15px;
    
}
.ara{
    font-size: 96px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    position: relative;
    top: -15px;
    color: #624CE5;

}


